@using Paradijs.Models
@model List<Product>

@{

    ViewBag.Title = "ViewProduct";
}
@{ 
    var user = Session["User"] as User;
}

<div>
    <h4>Gerechten</h4>
    @if (Session["User"] != null && user.Email == "samirobeido76@gmail.com")
    {
        <p>
            @Html.ActionLink("Voeg nieuwe gerecht toe...", "AddProduct", "Product")
        </p>
        <hr />
        foreach (var product in Model)
        {

            <div class="col-sm-3">
                <div class="col-item">
                    <div class="photo">
                        <img src="http://placehold.it/350x260" class="img-responsive" alt="a" />
                    </div>
                    <div class="info">
                        <div class="row">
                            <div class="price col-md-6">
                                <h5>
                                    @product.Name
                                </h5>
                                <h5 class="price-text-color">
                                    @product.Price
                                </h5>
                            </div>
                            <div class="rating hidden-sm col-md-6">
                                <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                </i><i class="fa fa-star"></i>
                            </div>
                        </div>
                        <div class="separator clear-left">
                            <p class="btn-add">
                                <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">Add to cart</a>
                            </p>
                            <p class="btn-details">
                                @Html.ActionLink("More details", "ViewProductDetails", new { id = product.Id })
                            </p>
                        </div>
                        <div class="clearfix">
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <hr />
        foreach (var product in Model)
        {

            <div class="col-sm-3">
                <div class="col-item">
                    <div class="photo">
                        <img src="http://placehold.it/350x260" class="img-responsive" alt="a" />
                    </div>
                    <div class="info">
                        <div class="row">
                            <div class="price col-md-6">
                                <h5>
                                    @product.Name
                                </h5>
                                <h5 class="price-text-color">
                                    @product.Price
                                </h5>
                            </div>
                            <div class="rating hidden-sm col-md-6">
                                <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                </i><i class="fa fa-star"></i>
                            </div>
                        </div>
                        <div class="separator clear-left">
                            <p class="btn-add">
                                <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">Add to cart</a>
                            </p>
                            <p class="btn-details">
                                @Html.ActionLink("More details", "ViewProductDetails", new { id = product.Id })
                            </p>
                        </div>
                        <div class="clearfix">
                        </div>
                    </div>
                </div>
            </div>
        }
    }

</div>



