@model Product
@using Models
@{
    var user = Session["User"] as User;
    var product = Session["Product"] as Product;
}

@{
    ViewBag.Title = "ViewProductDetails";
}

@if (Session["Product"] == null)
{
    Response.Redirect("../Product/ViewProducts");
}

else
{


        <h2>Details</h2>

        <div>
            <h4>Product</h4>
            <hr />
            <dl class="dl-horizontal">
                <dd>
                    @for (int i = 0; i < Model.Picture.Count; i++)
                    {
                        <img src="@Url.Content(Model.Picture[i])" alt="Foto van dit object" />
                    }
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Model.Name                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Ingredients)
                </dt>

                <dd>
                    @Model.Ingredients
                </dd>
            </dl>
        </div>
    

    if (user.Email != "samirobeido76@gmail.com")
    {
        <p>
            @Html.ActionLink("Order", "AddOrder", "Order", new { id = product.Id, userid = user.Id, hostid = 8 }, null)
        </p>
    }
    else
    {

    }
}


