<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Samir</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
@using Models
@{
    var user = Session["User"] as User;
    var order = Session["Order"] as Order;
}
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Samir", "ViewProducts", "Product", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "ViewProducts", "Product")</li>
                    @if (Session["Useremail"] == null)
                    {
                        <li>@Html.ActionLink("Log in", "Login", "User")</li>
                    }
                    @if (Session["User"] != null)
                    {
                        <li>@Html.ActionLink("My messages", "ViewAllMessages", "Message", new { id = user.Id }, null)</li>

                        if (user.Email == "samirobeido76@gmail.com")
                        {

                            <li>@Html.ActionLink("Mijn producten", "MyProducts", "Product")</li>
                            <li>@Html.ActionLink("Klanten", "AllUsers", new { id = user.Id, controller = "Order" })</li>

                        }
                        else
                        {
                            <li>@Html.ActionLink("Mijn Orders", "MyOrders", "Order", new { id = user.Id }, null)</li>
                        }
                    }

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <br /><br />
        @if (Session["Useremail"] != null)
        {
            using (Html.BeginForm("Logout", "User", FormMethod.Post, new { id = "logoutForm" }))
            {
                <a href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
            }
        }

        @RenderBody()

    </div>
    <footer>
        <hr />
        <p>&copy; @DateTime.Now.Year - Samir</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
